---
- template:
    src: etc/ssh/sshd_config
    dest: /etc/ssh/sshd_config
    mode: 0644
    owner: root
    group: root
  notify: service | ssh | restarted
  tags:
    - configure
    - openssh

- template:
    src: etc/ssh/ssh_config
    dest: /etc/ssh/ssh_config
    mode: 0644
    owner: root
    group: root
  when: openssh_client
  tags:
    - configuration
    - template-configuration
    - openssh

- template:
    src: "{{ item.path }}"
    dest: "/{{ item.path }}"
    mode: 0600
    owner: root
    group: root
  when: "{{ item.when }} is defined"
  notify: Reload Service | openssh
  with_items:
    - path: etc/ssh/ssh_host_rsa_key
      when: openssh_ssh_host['rsa'][openssh_role][environment_tier]
    - path: etc/ssh/ssh_host_ed25519_key
      when: openssh_ssh_host['ed25519'][openssh_role][environment_tier]
  tags:
    - openssh

- template:
    src: "{{ item.path }}"
    dest: "/{{ item.path }}"
    mode: 0644
    owner: root
    group: root
  when: "{{ item.when }} is defined"
  notify: Reload Service | openssh
  with_items:
    - path: etc/ssh/ssh_host_rsa_key.pub
      when: openssh_ssh_host['rsa'][openssh_role][environment_tier]
    - path: etc/ssh/ssh_host_ed25519_key.pub
      when: openssh_ssh_host['ed25519'][openssh_role][environment_tier]
  tags:
    - openssh

- lineinfile:
    state: present
    dest: /etc/sudoers.d/fix-ssh-agent
    regexp: '^Defaults env_keep\+\=SSH_AUTH_SOCK'
    line: 'Defaults env_keep+=SSH_AUTH_SOCK'
    create: yes
  tags:
    - configure
    - openssh
    - sudo
